<template>
  <div class="ant-layout">
    <div class="ant-layout-content">
      <div class="ant-row">
        <a-col span="24">
          <a-upload-dragger
            name="file"
            :file-list="fileList"
            :before-upload="beforeUpload"
            :multiple="false"
            :showUploadList="false"
            @change="handleChange"
          >
            <p class="ant-upload-drag-icon">
              <a-icon type="inbox"/>
            </p>
            <p class="ant-upload-text">
              Click or drag image to this area to upload
            </p>
            <p class="ant-upload-hint">
              Its SAFE! Image will not upload on server...
            </p>
          </a-upload-dragger>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            HEX
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="hexString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            RGB
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="rgbString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            WebSafe
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="webSafeHexString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            Name
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="colorNameString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            HSL
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="hslString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="6">
          <a-avatar
            class="w-100"
            shape="square"
            size="large"
            :style="colorDataTablesStyle"
          >
            CMYK
          </a-avatar>
        </a-col>
        <a-col span="18">
          <a-input-search
            size="large"
            :value="cmykString"
            @search="handleCopy"
          >
            <a-button slot="enterButton">
              Copy
            </a-button>
          </a-input-search>
        </a-col>
      </div>
      <div class="ant-row">
        <a-col span="24">
          <picking-canvas
            :image="imageData"
            :on-data-change="handleDataChange"
            @dataChangeEvent="handleDataChange"
          />
        </a-col>
      </div>
    </div>
  </div>
</template>

<script>

import {copyTextToClipboard} from "@/libs/clipboard";
import {getFontColorContrasted, rgbToCmyk, rgbToHex, rgbToHsl} from "@/libs/colorHelpers";
import Vue from "vue";

import PickingCanvas from "./PickingCanvas.vue";
import nearestColorLib from "@/libs/nearestColor";
import getWebSafeColorsObj from "@/libs/webSafeColors";

export default Vue.extend({
  components: {PickingCanvas},
  props: {
    colorNames: Array,
  },
  data() {
    return {
      fileList: [],
      uploading: false,
      imageData: null,


      rgb: {r: null, g: null, b: null},
      hsl: {h: null, s: null, b: null},
      cmyk: {c: null, m: null, y: null, k: null},
      hex: "",
      colorName: "",
      webSafeHex: "",
    };
  },
  computed: {
    fontColor() {
      if ((typeof this.rgb.r) === "undefined" || this.rgb.r === null) {
        return console.error("no rgb");
      }
      return getFontColorContrasted(this.rgb);
    },
    colorDataTablesStyle() {
      return {
        backgroundColor: this.hex,
        color: this.fontColor,
        verticalAlign: "middle",
        cursor: "default",
        userSelect: "none",
        fontWeight: "bolder",
      };
    },
    rgbString() {
      return `rgb(${this.rgb.r},${this.rgb.g},${this.rgb.b})`;
    },
    hexString() {
      return this.hex;
    },
    colorNameString() {
      return this.colorName;
    },
    webSafeHexString() {
      return this.webSafeHex;
    },
    hslString() {
      return "hsl(" + this.hsl.h + ", " + this.hsl.s + ", " + this.hsl.l + ")";
    },
    cmykString() {
      return `cmyk(${this.cmyk.c}, ${this.cmyk.m}, ${this.cmyk.y}, ${this.cmyk.k})`;
    },

    colorNamesObject() {
      const result = {}
      this.colorNames.forEach((value) => {
        result[value.name] = value.hex;
      });
      return result;
    },
    webSafeColorsObject() {
      return getWebSafeColorsObj();
    },
    //Return function
    getNearestColorFromColor() {
      return nearestColorLib.from(this.colorNamesObject);
    },
    getNearestWebSafeFromColor() {
      return nearestColorLib.from(this.webSafeColorsObject);
    },
  },
  methods: {
    /** @param {{r,g,b}} rgb   */
    async handleDataChange(rgb) {
      const {r, g, b} = rgb
      this.rgb = rgb;
      this.hsl = rgbToHsl(r, g, b);
      this.cmyk = rgbToCmyk(r, g, b, false);
      this.hex = "#" + ("000000" + rgbToHex(r, g, b)).slice(-6);
      this.colorName = this.getNearestColorFromColor(this.hex).name;
      this.webSafeHex = this.getNearestWebSafeFromColor(this.hex).value;
    },
    async handleCopy(value) {
      copyTextToClipboard(value)
        .then(() => {
          this.$notification["success"]({
            message: "Copied",
            description: value,
            duration: 3,
          });
        })
        .catch((reason) => {
          this.$notification["error"]({
            message: "Error",
            description: reason,
            duration: 3,
          });
        });
    },
    handleChange(info) {
      const status = info.file.status;
      if ("uploading" !== status) {
        console.log(info.file, info.fileList);
      }
      if ("done" === status) {
        this.$message.success(`${info.file.name} file uploaded successfully.`);
      } else if ("error" === status) {
        this.$message.error(`${info.file.name} file upload failed.`);
      }
    },
    beforeUpload(file) {
      const reader = new FileReader();

      reader.addEventListener(
        "load",
        () => {
          this.imageData = reader.result;
        },
        false
      );

      reader.readAsDataURL(file);

      this.fileList = [file];
      return false;
    },
  },
});
</script>

<style scoped>
</style>
