<template>
  <div>
    <canvas
      id="magnifier"
      ref="magnifier"
      :height="magnifierSize"
      :width="magnifierSize"
      :style="{ left, top }"
    />
    <div
      id="herman-grid"
      :style="{width:magnifierSize+'px',height:magnifierSize+'px',left,top}"
    />
  </div>
</template>

<script>
import Vue from "vue";
import Queue from "queue-promise"

export default Vue.extend({
  name: "Magnifier",

  props: {
    x: Number,
    y: Number,
    canvas: HTMLCanvasElement,
    clientWidth: Number,
    magnifierSize: Number,
    magnifierScale: Number,

  },
  data() {
    return {
      /**
       * @type {Queue}
       */
      queue: null,
      idleTimeout: null,

      origContext2d: null,
      magnifierContext2d: null,
      // magnifierSize: null,
    };
  },
  computed: {
    top() {
      if (this.y === null) {
        return console.error("No y")
      }
      let offset = 0;
      const isCanvasDoesNotFit = (this.canvas.height - this.y) <= this.magnifierSize
      if (isCanvasDoesNotFit) {
        offset = -this.magnifierSize
      }
      return this.y + offset + "px";
    },
    left() {
      if (this.x === null) {
        return console.error("No x")
      }

      let offset = 0;
      const isCanvasDoesNotFit = (this.canvas.width - this.x) <= this.magnifierSize
      if (isCanvasDoesNotFit) {
        offset = -this.magnifierSize
      }
      return this.x + offset + "px";

    },
  },
  watch: {
    x() {
      this.addQueueRenderMagnifier();
    },
    y() {
      this.addQueueRenderMagnifier();
    },
    canvas() {
      this.updateContexts()
      this.addQueueRenderMagnifier();
    },
    clientWidth() {
      this.addQueueRenderMagnifier();
    },
    magnifierScale() {
      this.addQueueRenderMagnifier();
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  async mounted() {
    this.updateContexts();
    await this.createNewQueue();
    this.addQueueRenderMagnifier()
  },
  methods: {
    handleResize() {
      // const sizeDivider = 5;
      // this.magnifierSize = window.innerWidth / sizeDivider;
    },
    updateContexts() {
      this.origContext2d = this.canvas.getContext("2d");
      this.magnifierContext2d = this.$refs.magnifier.getContext("2d");
    },
    async createNewQueue() {
      this.queue = new Queue({
        concurrent: 1,
        interval: 60
      })
    },
    async resetQueue() {
      this.queue.clear()
      this.createNewQueue()
    },
    async addQueueRenderMagnifier() {
      if (this.idleTimeout) {
        clearTimeout(this.idleTimeout)
      }
      this.idleTimeout = setTimeout(() => {
        this.resetQueue()
      }, 200)

      if (!this.queue) {
        await this.createNewQueue()
      }
      this.queue.enqueue(() => {
        this.renderMagnifier();
      })
    },
    async renderMagnifier() {

      const origCanvas = this.canvas;
      const origWidth = origCanvas.width;
      const origHeight = origCanvas.height;
      const magnifierContext = this.magnifierContext2d
      const scaledWidth = origWidth * this.magnifierScale;
      const scaledHeight = origHeight * this.magnifierScale;
      const scaledMagnifierSize = this.magnifierSize / this.magnifierScale;
      const origOffsetX = this.x - (scaledMagnifierSize / 2);
      const origOffsetY = this.y - (scaledMagnifierSize / 2);

      magnifierContext.drawImage(
        origCanvas,
        origOffsetX,
        origOffsetY,
        origWidth,
        origHeight,
        0,
        0,
        scaledWidth,
        scaledHeight
      );
    },
  },
});
</script>

<style scoped>
#magnifier {
  cursor: crosshair;
  user-select: none;
  position: absolute;
  pointer-events: none;
  /*border: 5px black solid;*/
  z-index: 100;
}

#herman-grid {
  cursor: crosshair;
  user-select: none;
  position: absolute;
  pointer-events: none;

  background-image: url("images/herman-grid.jpg");
  background-size: cover;
  opacity: 50%;
  z-index: 101;
}

</style>
