<template>
  <div>
    <div style="margin-bottom: 10px">
      Magnifier size
      <a-slider
        id="magnifier-size-slider"
        v-model="magnifierSize"
        :min="1"
        :max="800"
      />
    </div>
    <div style="margin-bottom: 10px">
      Magnifier scale
      <a-slider
        id="magnifier-scale-slider"
        v-model="magnifierScale"
        :min="1"
        :max="100"
      />
    </div>
    <div
      id="image-board"
      ref="imageBoard"
      class="bg-transparency w-100"
    >
      <canvas
        id="canvas"
        ref="canvas"
        draggable="false"
        @mousedown="onMouseDown"
        @mousemove="onMouseMove"
        @mouseleave="onMouseUp"
        @mouseup="onMouseUp"
      />
      <magnifier
        :canvas="$refs.canvas"
        :x="cursorX"
        :y="cursorY"
        :magnifier-size="magnifierSize"
        :magnifier-scale="magnifierScale"
        @mousemove="onMouseMove"
      />
    </div>
  </div>
</template>

<script>
import Magnifier from "./Magnifier.vue";
import Vue from "vue";
import Queue from "queue-promise"

export default Vue.extend({
  name: "PickingCanvas",
  components: {Magnifier},
  props: {
    image: String,
    onDataChange: Function
  },
  data() {
    return {
      /**
       * @type {Queue}
       */
      queue: null,
      idleTimeout: null,


      imageData: [],
      mouseDowned: false,
      cursorX: null,
      cursorY: null,
      context2d: null,
      target: null,
      pageX: null,
      pageY: null,


      magnifierSize: 200,
      magnifierScale: 10,
    };
  },
  watch: {
    image: {
      handler(value) {
        if (!value) {
          return;
        }
        const ctx = this.$refs.canvas.getContext("2d");
        const img = new Image();
        img.onload = () => {
          const neededWidth = this.$refs.imageBoard.clientWidth;
          const sizeMultiplier = neededWidth / img.width;
          const neededHeight = img.height * sizeMultiplier;
          this.$refs.canvas.height = neededHeight;
          this.$refs.canvas.width = neededWidth;
          ctx.drawImage(img, 0, 0, neededWidth, neededHeight);
        };

        img.src = value;
      },
    },
  },
  mounted() {
    this.createNewQueue();
    this.$refs.canvas.addEventListener("touchstart", this.onMouseDown)
    this.$refs.canvas.addEventListener("touchmove", this.onMouseMove)
    this.$refs.canvas.addEventListener("touchend", this.onMouseUp)
    this.$refs.canvas.addEventListener("touchcancel", this.onMouseUp)
  },
  methods: {
    async createNewQueue() {
      this.queue = new Queue({
        concurrent: 1,
        interval: 50
      })
    },
    async resetQueue() {
      this.queue.clear()
      this.createNewQueue()
    },
    async onMouseDown() {
      console.log("mouse down")
      this.mouseDowned = true;
      this.calculateColors();
    },
    async onMouseUp() {
      console.log("mouse up")
      this.mouseDowned = false;
      this.resetQueue();
    },
    async onMouseMove(e) {

      if (this.idleTimeout) {
        clearTimeout(this.idleTimeout)
      }
      this.idleTimeout = setTimeout(() => {
        this.resetQueue()
      }, 200)

      let target;
      let pageX;
      let pageY;
      if (e.touches) {
        e.preventDefault();
        target = e.touches[0].target;
        pageX = e.touches[0].pageX;
        pageY = e.touches[0].pageY;
      } else {
        target = e.target;
        pageX = e.pageX;
        pageY = e.pageY;
      }
      if (this.target !== target) {
        this.target = target;
        this.context2d = target.getContext("2d")
      }
      if (this.pageX !== pageX) {
        this.pageX = pageX;
      }
      if (this.pageY !== pageY) {
        this.pageY = pageY;
      }

      this.queue.enqueue(() => {
        this.calculatePosition(this.target, this.pageX, this.pageY)
        if (this.mouseDowned) {
          this.calculateColors();
        }
      })
    },

    async calculateColors() {
      if (!this.target || !this.pageX || !this.pageY) {
        throw new Error("No parameters")
      }
      const {x, y} = await this.calculatePosition(this.target, this.pageX, this.pageY);
      const p = await this.getRgbFromImageDataByXY(x, y)
      const r = p[0];
      const g = p[1];
      const b = p[2];
      // this.dataChangeEvent({r, g, b})
      this.onDataChange({r, g, b})
    },
    async dataChangeEvent(data) {
      this.$emit("dataChangeEvent", data);
    },
    async calculatePosition(target, pageX, pageY) {
      let obj = target;
      let curleft = 0;
      let curtop = 0;
      if (obj.offsetParent) {
        do {
          curleft += obj.offsetLeft;
          curtop += obj.offsetTop;
        } while ((obj = obj.offsetParent));
      }
      const resultX = pageX - curleft;
      const resultY = pageY - curtop;
      this.cursorX = resultX;
      this.cursorY = resultY;
      return {x: resultX, y: resultY};
    },
    async getRgbFromImageDataByXY(x, y) {
      return this.context2d.getImageData(x, y, 1, 1).data
    }


  },
});
</script>

<style scoped>
.bg-transparency {
  background-repeat: repeat;
  background-image: url("images/transparency.png");
}

#canvas {
  cursor: crosshair;
}

#image-board {
  position: relative;
}
</style>
